<h3>Add Event</h3>
<div class="row">
    <form action="/events" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5>Add Description for your Events:</h5>
                <textarea name="body" id="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/events/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
{{!-- test --}}