<!-- Opening Info -->
<section class="opening-info">
    
</section>

<!-- Social Media Icons links for events -->
<section class="social">
    <a><i class="fab fa-facebook"></i></a>
    <a><i class="fab fa-instagram"></i></a> 
</section>

<!-- Pic of Quality ingredients Stock image Only -->
<figure class="info-pic">

</figure>

<!-- About Info Section -->
<section class="about-info">

</section>

