<div class="container">

<h3>Edit Event</h3>
<form action='/events/{{event._id}}' method='POST'>
  <input type="hidden" name="_method" value="PUT">
  <div class="form-group">
    <h5>Event Date</h5>
    <input type="text" class="form-control" id="exampleFormControlInput1" value="{{event.eventDate}}">
  </div>
 
  <div class="form-group">
    <h5>Add Event info</h5>
    <textarea class="form-control" id="exampleFormControlTextarea1" name="body" rows="3">{{event.body}}</textarea>
  </div>

  <div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/" class="btn btn-danger">Cancel</a>
   </div>
</form>
</div>