<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rojo's</title>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/421fe78be9.js" crossorigin="anonymous"></script>
    <!-- CSS Reset -->
    <link rel="stylesheet" href="/css/reset.css">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    
    <nav>
        <ul class="nav-list">
            <img src="/assets/logo.png" alt="logo" class="logo">
            <li>
                <a href="">About</a>
                </li>

            <li>
                <a href="">Contact</a>
                </li>

            <li>
                <a href="">Menu</a>
            </li>

        </ul>
    </nav>

    {{{body}}}

</body>
</html>