
<!-- Opening Info -->
<section class="opening-info">
    
</section>

<!-- Social Media Icons links for events -->
<section class="social">
    <div class="col">
        {{#each event}}
         <div>
             {{!-- add edit feature  --}}
             {{!-- {{editIcon user ../user _id}} --}}
           <h3>{{stripTags eventDate}}</h3> 
            <h4>{{stripTags body}}</h4>
            <br>
         </div>    
        {{/each}}
    </div>
</section>

<!-- Pic of Quality ingredients Stock image Only -->
<figure class="info-pic">
    
</figure>

<!-- About Info Section -->
<section class="about-info">

</section>

   
   


