<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
   <!-- Font Awesome -->
    {{!-- <script src="https://kit.fontawesome.com/421fe78be9.js" crossorigin="anonymous"></script> --}}
    <!-- CSS Reset -->
    {{!-- <link rel="stylesheet" href="/css/reset.css"> --}}
    <!-- Custom Stylesheet -->
    {{!-- <link rel="stylesheet" href="/css/style.css"> --}}
    {{!-- <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css"/> --}}
    
</head>
<body>
    <!-- Opening Info -->
<section class="opening-info">
    
</section>

<!-- Social Media Icons links for events -->
<section class="social">
    <a><i class="fab fa-facebook"></i></a>
    <a><i class="fab fa-instagram"></i></a> 
</section>

<!-- Pic of Quality ingredients Stock image Only -->
<figure class="info-pic">

</figure>

<!-- About Info Section -->
<section class="about-info">

</section>

</body>
</html>   
   
   
   


