
<!-- Opening Info -->
<section class="opening-info">
    
</section>

<!-- Social Media Icons links for events -->
<section class="social">

</section>

<!-- Pic of Quality ingredients Stock image Only -->
<figure class="info-pic">

</figure>

<!-- About Info Section -->
<section class="about-info">

</section>

   
   


