 footer{
   background: black;
 }

 .logo{
   position: absolute;
    top: -4rem;
    left: 7rem;
    height: 18rem;
    width: 19rem;
}

 .opening-info{
  width: 100%;
  height: 40rem;
 }

 .social{
    width: 100%;
    background: rgb(49, 5, 151);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
 }

 .info-pic{
    width: 100%;
    height: 25rem;
    background-color: rgb(255, 1, 35);
    background-size: cover;
    background-position: 50% 50%;
 }

 .about-info{
    width: 100%;
    height: 25rem;
    background-color: orange;
    background-size: cover;
    background-position: 50% 50%;
 }

/* Add Btn */
.add-btn a{
   text-decoration: none;
   font-size: 4rem;
   color: turquoise;
}



video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.trash-icon{
   display: inline-block;
}